.bg-light{
background-color: orange!important;
}
img,svg{
    height: 92px;
    border-radius: 20px;
    width: 106px;
    /* vertical-align: middle; */
}
.card {
    margin-bottom: 20px;
    padding: 10px 10px 15px 15px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
  }
.dropdown {
    height: 53px;
    margin: 0;
    padding: 0;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #e0e0e0;
    background-color: #fff;
    font-weight: 600;
    font-size: 18px;
    color: #192f60;
    z-index: 3;
  }
  .btn-outline-success{
    background-color: transparent;
    border-color: black!important;
    color: black!important;
  }
